<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Contacts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body id="contactspage" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px;">
    <h1 style="color: navy; font-size: 48px; text-shadow: 2px 2px lightblue;">My Contacts</h1>

    {% for contact in contacts %}
    <div class="contact" style="background-color: lightblue; padding: 20px; border-radius: 10px; box-shadow: 3px 3px rgb(0, 0, 0); margin-bottom: 20px;">
        <h2 style="color: navy; font-size: 36px; margin-bottom: 10px;">{{ contact.first_name }} {{ contact.last_name }}</h2>
        <p style="margin-bottom: 5px;">Email: {{ contact.email }}</p>
        <p>Phone: {{ contact.phone_number }}</p>
    </div>
    {% endfor %}
    <br><br>
    <button style="position: fixed; bottom: 50px; right: 175px;background-color: navy; color: white; border-radius: 50%; padding: 10px 20px; font-size: 24px; box-shadow: 3px 3px rgb(0, 0, 0);" onclick="location.href='/';">Home🏠</button>
    <button style="position: fixed; bottom: 50px; right: 50px; background-color: navy; color: white; border-radius: 50%; padding: 10px; font-size: 24px; box-shadow: 3px 3px rgb(0, 0, 0);" onclick="location.href='/help/';">Help?</button>

</body>
</html>
