<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body id="helppage" style="background-color: lightblue; font-family: Arial, sans-serif; text-align: center;">
    <h1 style="color: navy; font-size: 50px;">Help Page</h1>
    <p style="font-size: 40px; color: navy; padding: 10px;">Thank you for visiting the help page. If you have any questions or issues, please do not hesitate to contact us using the information on the <button style='font-size: 24px;background-color: rgb(0, 0, 128); border: none; border-radius: 50px;color: rgb(255, 255, 255); cursor: pointer; padding: 10px 20px; box-shadow: 3px 3px 5px rgb(0, 0, 0);' onclick="location.href='/contacts/';">Contacts Page📔</button></p>
    <br><br>
    <button style="position: fixed; bottom: 50px; right: 175px;background-color: navy; color: white; border-radius: 50px; padding: 10px 20px; font-size: 24px; box-shadow: 3px 3px rgb(0, 0, 0);" onclick="location.href='/';">Home🏠</button>
</body>
</html>
